<div class="container__big-card">
  <div class="picture__big-card">
    <img
      src="https://th.bing.com/th/id/R.bf804084f12b29961a52384a1fe47c24?rik=K7rbSWDkra6VIg&pid=ImgRaw&r=0"
      alt="Foto default"
      height="200px"
    />
  </div>

  <div class="title__big-card">
    <h1><a href="#">Novidades no mundo da tecnologia</a></h1>
  </div>
  <div class="description__big-card">
    <p>
      Os Computadores Quânticos são capazes de realizar contas complexas
      centenas ou até milhares de vezes mais rápido que um computador
      convencional, apesar de pouco acessíveis, são um marco para a área.
    </p>
  </div>
</div>
